@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono:wght@400;700&display=swap');
* {
    padding 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 30px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body{
    min-height: 90vh;
    font-family: "Space Mono", sans-serif;
}

.title h2{
    margin-bottom: 64px;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-2 h3{
    font-weight: 700;
    font-size: 58px;
    line-height: 94px;
}

.feature-2 p{
    margin-top: 36px;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
}

.feature-2 a{
    width: 216px;
    margin-top: 36px;
    height: 68px;
    text-align: center;
    padding: 20px;
    background-color: salmon;
    text-decoration: none;
}

.feature img{
    width: 300px;
}

footer{
    text-align: center;
}

.responsive-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
} 

@media only screen and (min-width: 768px){
    .responsive-content {
        flex-direction: row;
    }

    .feature-2 p{
        width: 50%;
        font-size: 24px;
    }

    .feature img{
        width: 800px;
        padding: 30px;
    }

    .feature-2 h3{
        font-size: 64px;
    }
}